.idea/
.vscode
.vs

*.a
*.dylib
*.DS_STORE

*.vcxproj
*.vcxproj.filters
*.cmake
*.sln

Bin/
Build/
Build*/

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
cmake-build*

code/projects

vendors/cef/lib/osx

_external
**/obj
